<p></p>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nom</th>
      <th scope="col">Pâtisserie</th>
      <th scope="col">Modifier</th>
      <th scope="col">Supprimer</th>
    </tr>
  </thead>
  <tbody>
    <!-- FIXME: All the td are in the first th for no reason -->
    <div *ngFor="let ingredient of ingredients">
      <tr class="table-info">
        <td>{{ ingredient.id }}</td>
        <td>{{ ingredient.name }}</td>
        <td>{{ ingredient.sweet }}</td>
        <td>
          <!-- TODO: href btn -->
          <a href="" class="btn btn-primary">Modifier </a>
        </td>
        <td>
            <!-- TODO: (not important) style on button -->
          <button (click)="deleteIngredient(ingredient.id)" class="btn btn-sm btn-danger">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
    </div>
