<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Rose de Damas</a>
  <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
    aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/ingredients">Liste des ingredients</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/newSweet">Nouvelle pâtisserie</a>
      </li>
      <li class="nav-item">
        <!-- TODO: href -->
        <a class="nav-link" href="#">Nouvel ingredient</a>
      </li>
    </ul>
  </div>
</nav>
