<div *ngIf="!isLoading">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <form (ngSubmit)="editIngredient()" name="form">
        <div class="form-group">
          <label for="name">Nom</label>
          <input [(ngModel)]="ingredient.name" name="name" id="name" type="text" class="form-control">
        </div>
        <p></p>
        <div *ngIf="isSweetLoaded">
          <ng-select [items]="sweets" bindLabel="name" name="selectsweet" bindValue="id" [(ngModel)]="selectedSweet">
          </ng-select>
          <p></p>
        </div>
        <button type="submit" class="btn btn-success btn-block">
          <i class="fa fa-send"></i>
          Modifier
        </button>
        <p></p>
      </form>
    </div>
  </div>
</div>
